flask-sqlalchemy
psutil
flask~=3.1.1
python-dotenv~=1.1.1
pycgminer
zeroconf~=0.147.0
pytest~=8.4.1
sqlalchemy~=2.0.42
APScheduler~=3.11.0
python-dateutil~=2.9.0.post0
python-dateutil
python-json-logger
python-json-logger