# Complete list of all available properties: https://docs.upsun.com/app/reference/
applications:
  presidents_mining_monitor:
    source:
      root: /
    type: python:3.13
    mounts:
      "/.upsun/local":
        source: local
        source_path: client_data
    web:
      commands:
        start: "gunicorn -w 4 -b 0.0.0.0:$PORT app_server:app"
      upstream:
        socket_family: tcp
        protocol: http
    hooks:
      build: |
        pip install -r requirements.txt
      deploy: |
        # Run migrations here if needed, e.g.:
        # flask db upgrade
        echo "Deploy hook finished"

services:
  database:
    type: postgresql:15

routes:
  "http://{default}/":
    type: upstream
    upstream: "presidents_mining_monitor:http"
